<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove Student</title>
    <link rel="stylesheet" href="../../css/admin/adminheader.css">
    <link rel="stylesheet" href="../../css/admin/student/removestudent.css">
</head>
<body>
    {{>adminheader}}
    
    <div class="form">
        <h1>Remove Student</h1>
        <form action="/admin/student/deletestudent" method="POST">
            <input type="text" name="id" placeholder="Student Id" required>

            <input type="submit" value="Remove">
        </form>
        
    </div>
    {{#if _id}}
    <div id="after">
        <p>Student Deleted with Id: {{_id}}</p>
    </div>
    {{/if}}
    {{#if err}}
    <div id="after">
        <p>{{err}}</p>
    </div>
    {{/if}}
    

    <script src="../../js/admin/adminhome.js"></script>
</body>
</html>