<div class="mycontainer">
    <div class="header">
            <h1>Admin</h1>
            <a href="/logout">logout</a>
        </div>
        <div class="users">
            <div class="students">
                <h2>Students</h2>
            </div>
            <div class="teachers">
                <h2>Teachers</h2>
            </div>
        </div>
        <div class="database" id="viewstudents">
            <h3 id="addstudent">Add Student</h3>
            <h3 id="searchstudent">Search Student</h3>
            <h3 id="removestudent">Remove Student</h3>
            <h3 id="updatestudent">Update student details</h3>
        </div>
        <div class="database" id="viewteachers">
            <h3 id="addteacher">Add Teacher</h3>
            <h3 id="searchteacher">Search Teacher</h3>
            <h3  id="removeteacher">Remove Teacher</h3>
            <h3 id="updateteacher">Update Teacher details</h3>
        </div>
</div>