.form2 form input[type="number"]{
    appearance: textfield;
}
.form2{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.form2 form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

input{
    width: 250px;
    padding: 5px 20px;
    margin: 10px 0px;
    outline: none;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #000000;
    font-size: 1rem;
}
form .gender input{
    width: 30px;
}
input[type="submit"]{
    margin: 20px 0 30px 0;
    width: fit-content;
    font-size: 1rem;
    padding: 10px 30px;
}
input[type="radio"]{
    box-shadow: none;
}
#after form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#after form .address{
    display: flex;
    flex-direction: column;
}
#after h1{
    text-align: center;
}